@font-face {
  font-family: 'grundfos_generic_icons';
  src: url('/static/fonts/grundfos_generic_icons.eot?16842371');
  src: url('/static/fonts/grundfos_generic_icons.eot?16842371#iefix') format('embedded-opentype'),
  url('/static/fonts/grundfos_generic_icons.woff?16842371') format('woff'),
  url('/static/fonts/grundfos_generic_icons.ttf?16842371') format('truetype'),
  url('/static/fonts/grundfos_generic_icons.svg?16842371#grundfos_generic_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'grundfos_generic_icons';
    src: url('/static/fonts/grundfos_generic_icons.svg?16842371#grundfos_generic_icons') format('svg');
  }
}
*/

[class^="icon-gr-"]:before, [class*=" icon-gr-"]:before {
  font-family: "grundfos_generic_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-gr-access:before {
  content: '\e800';
}

/* '' */
.icon-gr-address:before {
  content: '\e801';
}

/* '' */
.icon-gr-add-user:before {
  content: '\e802';
}

/* '' */
.icon-gr-adjust-tune:before {
  content: '\e803';
}

/* '' */
.icon-gr-air:before {
  content: '\e804';
}

/* '' */
.icon-gr-alarm:before {
  content: '\e805';
}

/* '' */
.icon-gr-archive:before {
  content: '\e806';
}

/* '' */
.icon-gr-attach:before {
  content: '\e807';
}

/* '' */
.icon-gr-audio-sound:before {
  content: '\e808';
}

/* '' */
.icon-gr-award-trophy:before {
  content: '\e809';
}

/* '' */
.icon-gr-backintime-history:before {
  content: '\e80a';
}

/* '' */
.icon-gr-battery:before {
  content: '\e80b';
}

/* '' */
.icon-gr-battery-0:before {
  content: '\e80c';
}

/* '' */
.icon-gr-battery-1:before {
  content: '\e80d';
}

/* '' */
.icon-gr-battery-2:before {
  content: '\e80e';
}

/* '' */
.icon-gr-battery-3:before {
  content: '\e80f';
}

/* '' */
.icon-gr-battery-4:before {
  content: '\e810';
}

/* '' */
.icon-gr-block-noaccess:before {
  content: '\e811';
}

/* '' */
.icon-gr-bolt:before {
  content: '\e812';
}

/* '' */
.icon-gr-book-manual:before {
  content: '\e813';
}

/* '' */
.icon-gr-bookmark:before {
  content: '\e814';
}

/* '' */
.icon-gr-bookmarks:before {
  content: '\e815';
}

/* '' */
.icon-gr-browser:before {
  content: '\e816';
}

/* '' */
.icon-gr-calendar-date:before {
  content: '\e817';
}

/* '' */
.icon-gr-call:before {
  content: '\e818';
}

/* '' */
.icon-gr-camera:before {
  content: '\e819';
}

/* '' */
.icon-gr-catalogue:before {
  content: '\e81a';
}

/* '' */
.icon-gr-check:before {
  content: '\e81b';
}

/* '' */
.icon-gr-chat-dialogue:before {
  content: '\e81c';
}

/* '' */
.icon-gr-clock-time:before {
  content: '\e81d';
}

/* '' */
.icon-gr-clockwise:before {
  content: '\e81e';
}

/* '' */
.icon-gr-close:before {
  content: '\e81f';
}

/* '' */
.icon-gr-close-circle:before {
  content: '\e820';
}

/* '' */
.icon-gr-close-square:before {
  content: '\e821';
}

/* '' */
.icon-gr-cloud:before {
  content: '\e822';
}

/* '' */
.icon-gr-cloud-upload:before {
  content: '\e823';
}

/* '' */
.icon-gr-code:before {
  content: '\e824';
}

/* '' */
.icon-gr-cold:before {
  content: '\e825';
}

/* '' */
.icon-gr-counterclockwise-restore:before {
  content: '\e826';
}

/* '' */
.icon-gr-comment:before {
  content: '\e827';
}

/* '' */
.icon-gr-country-globe:before {
  content: '\e828';
}

/* '' */
.icon-gr-creditcard-payment:before {
  content: '\e829';
}

/* '' */
.icon-gr-cycle-recycle:before {
  content: '\e82a';
}

/* '' */
.icon-gr-database:before {
  content: '\e82b';
}

/* '' */
.icon-gr-delete-erase:before {
  content: '\e82c';
}

/* '' */
.icon-gr-devices:before {
  content: '\e82d';
}

/* '' */
.icon-gr-disk:before {
  content: '\e82e';
}

/* '' */
.icon-gr-dislike:before {
  content: '\e82f';
}

/* '' */
.icon-gr-doc-content:before {
  content: '\e830';
}

/* '' */
.icon-gr-doc-file-inverted:before {
  content: '\e831';
}

/* '' */
.icon-gr-doc-file:before {
  content: '\e832';
}

/* '' */
.icon-gr-doc-landscape:before {
  content: '\e833';
}

/* '' */
.icon-gr-docs:before {
  content: '\e834';
}

/* '' */
.icon-gr-doc-text:before {
  content: '\e835';
}

/* '' */
.icon-gr-doc-text-inverted:before {
  content: '\e836';
}

/* '' */
.icon-gr-dot1:before {
  content: '\e837';
}

/* '' */
.icon-gr-dot2:before {
  content: '\e838';
}

/* '' */
.icon-gr-dot3-more:before {
  content: '\e839';
}

/* '' */
.icon-gr-down:before {
  content: '\e83a';
}

/* '' */
.icon-gr-down-angle:before {
  content: '\e83b';
}

/* '' */
.icon-gr-down-circle:before {
  content: '\e83c';
}

/* '' */
.icon-gr-down-thin:before {
  content: '\e83d';
}

/* '' */
.icon-gr-download:before {
  content: '\e83e';
}

/* '' */
.icon-gr-down-triangle:before {
  content: '\e83f';
}

/* '' */
.icon-gr-drive:before {
  content: '\e840';
}

/* '' */
.icon-gr-earphones:before {
  content: '\e841';
}

/* '' */
.icon-gr-edit-write:before {
  content: '\e842';
}

/* '' */
.icon-gr-exchange-replace-switch:before {
  content: '\e843';
}

/* '' */
.icon-gr-explore:before {
  content: '\e844';
}

/* '' */
.icon-gr-export:before {
  content: '\e845';
}

/* '' */
.icon-gr-fast-forward:before {
  content: '\e846';
}

/* '' */
.icon-gr-favorite-rating:before {
  content: '\e847';
}

/* '' */
.icon-gr-favorite-rating-outline:before {
  content: '\e848';
}

/* '' */
.icon-gr-film-movie:before {
  content: '\e849';
}

/* '' */
.icon-gr-fire:before {
  content: '\e84a';
}

/* '' */
.icon-gr-flag:before {
  content: '\e84b';
}

/* '' */
.icon-gr-flight:before {
  content: '\e84c';
}

/* '' */
.icon-gr-folder:before {
  content: '\e84d';
}

/* '' */
.icon-gr-forward:before {
  content: '\e84e';
}

/* '' */
.icon-gr-gauge:before {
  content: '\e84f';
}

/* '' */
.icon-gr-graph-area:before {
  content: '\e850';
}

/* '' */
.icon-gr-graph-bar:before {
  content: '\e851';
}

/* '' */
.icon-gr-graph-line:before {
  content: '\e852';
}

/* '' */
.icon-gr-graph-pie:before {
  content: '\e853';
}

/* '' */
.icon-gr-heat:before {
  content: '\e854';
}

/* '' */
.icon-gr-help:before {
  content: '\e855';
}

/* '' */
.icon-gr-help-circle:before {
  content: '\e856';
}

/* '' */
.icon-gr-home:before {
  content: '\e857';
}

/* '' */
.icon-gr-idea:before {
  content: '\e858';
}

/* '' */
.icon-gr-inbox:before {
  content: '\e859';
}

/* '' */
.icon-gr-infinite:before {
  content: '\e85a';
}

/* '' */
.icon-gr-info:before {
  content: '\e85b';
}

/* '' */
.icon-gr-info-circle:before {
  content: '\e85c';
}

/* '' */
.icon-gr-install:before {
  content: '\e85d';
}

/* '' */
.icon-gr-keyboard:before {
  content: '\e85e';
}

/* '' */
.icon-gr-language:before {
  content: '\e85f';
}

/* '' */
.icon-gr-launch:before {
  content: '\e860';
}

/* '' */
.icon-gr-layout:before {
  content: '\e861';
}

/* '' */
.icon-gr-learning-training:before {
  content: '\e862';
}

/* '' */
.icon-gr-left:before {
  content: '\e863';
}

/* '' */
.icon-gr-left-angle:before {
  content: '\e864';
}

/* '' */
.icon-gr-left-circle:before {
  content: '\e865';
}

/* '' */
.icon-gr-left-thin:before {
  content: '\e866';
}

/* '' */
.icon-gr-left-triangle:before {
  content: '\e867';
}

/* '' */
.icon-gr-level-back:before {
  content: '\e868';
}

/* '' */
.icon-gr-level-down:before {
  content: '\e869';
}

/* '' */
.icon-gr-level-up:before {
  content: '\e86a';
}

/* '' */
.icon-gr-light-down:before {
  content: '\e86b';
}

/* '' */
.icon-gr-light-up:before {
  content: '\e86c';
}

/* '' */
.icon-gr-like:before {
  content: '\e86d';
}

/* '' */
.icon-gr-link:before {
  content: '\e86e';
}

/* '' */
.icon-gr-liquid:before {
  content: '\e86f';
}

/* '' */
.icon-gr-liquid-outline:before {
  content: '\e870';
}

/* '' */
.icon-gr-location:before {
  content: '\e871';
}

/* '' */
.icon-gr-lock:before {
  content: '\e872';
}

/* '' */
.icon-gr-lock-open:before {
  content: '\e873';
}

/* '' */
.icon-gr-log-in:before {
  content: '\e874';
}

/* '' */
.icon-gr-log-out:before {
  content: '\e875';
}

/* '' */
.icon-gr-loop:before {
  content: '\e876';
}

/* '' */
.icon-gr-mail-contact:before {
  content: '\e877';
}

/* '' */
.icon-gr-map:before {
  content: '\e878';
}

/* '' */
.icon-gr-mark:before {
  content: '\e879';
}

/* '' */
.icon-gr-measure-sizing:before {
  content: '\e87a';
}

/* '' */
.icon-gr-menu-navicon:before {
  content: '\e87b';
}

/* '' */
.icon-gr-mic:before {
  content: '\e87c';
}

/* '' */
.icon-gr-minus:before {
  content: '\e87d';
}

/* '' */
.icon-gr-minus-circle:before {
  content: '\e87e';
}

/* '' */
.icon-gr-minus-square:before {
  content: '\e87f';
}

/* '' */
.icon-gr-monitor:before {
  content: '\e880';
}

/* '' */
.icon-gr-mouse:before {
  content: '\e881';
}

/* '' */
.icon-gr-music:before {
  content: '\e882';
}

/* '' */
.icon-gr-mute-soundoff:before {
  content: '\e883';
}

/* '' */
.icon-gr-network:before {
  content: '\e884';
}

/* '' */
.icon-gr-new:before {
  content: '\e885';
}

/* '' */
.icon-gr-outbox:before {
  content: '\e886';
}

/* '' */
.icon-gr-pause:before {
  content: '\e887';
}

/* '' */
.icon-gr-pause-circle:before {
  content: '\e888';
}

/* '' */
.icon-gr-photo-picture:before {
  content: '\e889';
}

/* '' */
.icon-gr-play:before {
  content: '\e88a';
}

/* '' */
.icon-gr-play-circle:before {
  content: '\e88b';
}

/* '' */
.icon-gr-plus:before {
  content: '\e88c';
}

/* '' */
.icon-gr-plus-circle:before {
  content: '\e88d';
}

/* '' */
.icon-gr-plus-square:before {
  content: '\e88e';
}

/* '' */
.icon-gr-popular:before {
  content: '\e88f';
}

/* '' */
.icon-gr-popular-outline:before {
  content: '\e890';
}

/* '' */
.icon-gr-pop-up:before {
  content: '\e891';
}

/* '' */
.icon-gr-power:before {
  content: '\e892';
}

/* '' */
.icon-gr-print:before {
  content: '\e893';
}

/* '' */
.icon-gr-problem-warning:before {
  content: '\e894';
}

/* '' */
.icon-gr-progress-0:before {
  content: '\e895';
}

/* '' */
.icon-gr-progress-1:before {
  content: '\e896';
}

/* '' */
.icon-gr-progress-2:before {
  content: '\e897';
}

/* '' */
.icon-gr-progress-3:before {
  content: '\e898';
}

/* '' */
.icon-gr-progress-4:before {
  content: '\e899';
}

/* '' */
.icon-gr-publish:before {
  content: '\e89a';
}

/* '' */
.icon-gr-quote:before {
  content: '\e89b';
}

/* '' */
.icon-gr-record:before {
  content: '\e89c';
}

/* '' */
.icon-gr-region:before {
  content: '\e89d';
}

/* '' */
.icon-gr-repeat:before {
  content: '\e89e';
}

/* '' */
.icon-gr-reply:before {
  content: '\e89f';
}

/* '' */
.icon-gr-reply-all:before {
  content: '\e8a0';
}

/* '' */
.icon-gr-resize-full:before {
  content: '\e8a1';
}

/* '' */
.icon-gr-resize-small:before {
  content: '\e8a2';
}

/* '' */
.icon-gr-rewind:before {
  content: '\e8a3';
}

/* '' */
.icon-gr-right:before {
  content: '\e8a4';
}

/* '' */
.icon-gr-right-angle:before {
  content: '\e8a5';
}

/* '' */
.icon-gr-right-circle:before {
  content: '\e8a6';
}

/* '' */
.icon-gr-right-thin:before {
  content: '\e8a7';
}

/* '' */
.icon-gr-right-triangle:before {
  content: '\e8a8';
}

/* '' */
.icon-gr-rss:before {
  content: '\e8a9';
}

/* '' */
.icon-gr-save:before {
  content: '\e8aa';
}

/* '' */
.icon-gr-search:before {
  content: '\e8ab';
}

/* '' */
.icon-gr-send:before {
  content: '\e8ac';
}

/* '' */
.icon-gr-service:before {
  content: '\e8ad';
}

/* '' */
.icon-gr-settings:before {
  content: '\e8ae';
}

/* '' */
.icon-gr-share:before {
  content: '\e8af';
}

/* '' */
.icon-gr-shoppingcart:before {
  content: '\e8b0';
}

/* '' */
.icon-gr-shoppingcart-add:before {
  content: '\e8b1';
}

/* '' */
.icon-gr-shuffle:before {
  content: '\e8b2';
}

/* '' */
.icon-gr-signal:before {
  content: '\e8b3';
}

/* '' */
.icon-gr-sleep:before {
  content: '\e8b4';
}

/* '' */
.icon-gr-slides:before {
  content: '\e8b5';
}

/* '' */
.icon-gr-smiley-1:before {
  content: '\e8b6';
}

/* '' */
.icon-gr-smiley-2:before {
  content: '\e8b7';
}

/* '' */
.icon-gr-smiley-3:before {
  content: '\e8b8';
}

/* '' */
.icon-gr-social-users:before {
  content: '\e8b9';
}

/* '' */
.icon-gr-stop:before {
  content: '\e8ba';
}

/* '' */
.icon-gr-sustainable:before {
  content: '\e8bb';
}

/* '' */
.icon-gr-tag:before {
  content: '\e8bc';
}

/* '' */
.icon-gr-task:before {
  content: '\e8bd';
}

/* '' */
.icon-gr-to-end:before {
  content: '\e8be';
}

/* '' */
.icon-gr-toolbox:before {
  content: '\e8bf';
}

/* '' */
.icon-gr-tools:before {
  content: '\e8c0';
}

/* '' */
.icon-gr-to-start:before {
  content: '\e8c1';
}

/* '' */
.icon-gr-trash:before {
  content: '\e8c2';
}

/* '' */
.icon-gr-travel:before {
  content: '\e8c3';
}

/* '' */
.icon-gr-up:before {
  content: '\e8c4';
}

/* '' */
.icon-gr-up-angle:before {
  content: '\e8c5';
}

/* '' */
.icon-gr-up-circle:before {
  content: '\e8c6';
}

/* '' */
.icon-gr-up-down:before {
  content: '\e8c7';
}

/* '' */
.icon-gr-upload:before {
  content: '\e8c8';
}

/* '' */
.icon-gr-up-thin:before {
  content: '\e8c9';
}

/* '' */
.icon-gr-up-triangle:before {
  content: '\e8ca';
}

/* '' */
.icon-gr-user:before {
  content: '\e8cb';
}

/* '' */
.icon-gr-vcard:before {
  content: '\e8cc';
}

/* '' */
.icon-gr-video:before {
  content: '\e8cd';
}

/* '' */
.icon-gr-view-elements:before {
  content: '\e8ce';
}

/* '' */
.icon-gr-view-list:before {
  content: '\e8cf';
}

/* '' */
.icon-gr-view-paragraphs:before {
  content: '\e8d0';
}

/* '' */
.icon-gr-view-sections:before {
  content: '\e8d1';
}

/* '' */
.icon-gr-views-watch:before {
  content: '\e8d2';
}

/* '' */
.icon-gr-view-thumbnails:before {
  content: '\e8d3';
}

/* '' */
.icon-gr-voicemail:before {
  content: '\e8d4';
}

/* '' */
.icon-gr-volume:before {
  content: '\e8d5';
}

/* '' */
.icon-gr-water:before {
  content: '\e8d6';
}

/* '' */
.icon-gr-work:before {
  content: '\e8d7';
}

/* '' */
.icon-gr-zoom-in:before {
  content: '\e8d8';
}

/* '' */
.icon-gr-zoom-out:before {
  content: '\e8d9';
}

/* '' */
