body,
html {
  overflow-x: hidden;
}

body {
  font-size: rem-calc(13);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $secondary-color;

  &:hover {
    color: $blue-2;
  }

  &[disabled] {
    pointer-events: none;
  }
}

.button {
  font-weight: bold;
  text-transform: uppercase;
}

.secondary {
  color: $secondary-color;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}
